#root, div {
  user-select: none;
  
  padding: 0px;
  margin: 0px;
  border: 0px;
  vertical-align: top;
}

.mainBoard {
  display: flex;
  align-items: flex-start;
}

.lopsAndUpgrades {
  display: flex;
  position: relative;
}

.loopsAndUpgrades.desktop {
  flex-direction: row;
}

.loopsAndUpgrades.mobile {
  flex-direction: column;
}

div {
  vertical-align: top;
}



.loop {
  color: black;
  font-weight: 500;
}

.upgrade{
  margin: 0px;
  padding: 5px;
  border: 0px;
}

.upgrade p {
  padding: 0px;
  margin: 0px;
  border: 0px;
  
  color: cornsilk;
}