#root, div {
  user-select: none;
  
  padding: 0px;
  margin: 0px;
  border: 0px;
  vertical-align: top;
}

.mainBoard {
  display: flex;
  align-items: flex-start;
}

.lopsAndUpgrades {
  display: flex;
  position: relative;
}

.loopsAndUpgrades.desktop {
  display: flex;
  position: relative;
  flex-direction: row;
}

.loopsAndUpgrades.mobile {
  display: flex;
  position: relative;
  flex-direction: column;
  /* clip-path: inset(300px 0px 0px 0px);
  pointer-events: auto; */
}

.loopBunchColumn {
  width: 400px;
  height: 300px;
}

.scoreAndLoopBunch {
  position: fixed;
  display: flex;
  flex-direction: column;
  left: 10px;
  top: 10px;
}

.score {
    position: absolute;
    width: 500px
}

.loopBunch {
  position: absolute
}

.upgradesColumn {
  position: relative;
}

.upgradesComponent {
  display: flex;
  flex-direction: column;
}

.divInUpgrade {
  display: flex;
  fles-direction: column;
}

.imageInUpgrade {
  width: 100px;
  height: 100px;
  background-color: white;
  margin: 5px;
}

div {
  vertical-align: top;
}



.loop {
  color: black;
  font-weight: 500;
  text-align: center;
  position: relative;
}

.upgrade{
  margin: 0px;
  padding: 5px;
  border: 0px;
}

.upgrade p {
  padding: 0px;
  margin: 0px;
  border: 0px;
  
  color: cornsilk;
}